.vscode
.mypy_cache
docker-stack.yml
.idea
__pycache__
__pycache__/
app.egg-info
.coverage
htmlcov
.env.local
.env.test.local
venv
.env.prod
.env.dev
.env.debug
.env.staging
.python-version
*.db
cors-test.sh
k8s/*/secrets
celerybeat-schedule
newrelic.ini
.DS_Store
dev-scripts
terraform.tfvars
.terraform